<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>serch</title>
</head>
<body>
  <div id="app">
    <input class="text" type="text" v-model="text">
    <p v-for="user in filteredusers" :key="user.id">{{ user.name }}</p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        users: [
          {
            id: 1,
            name: "佐藤",
          },
          {
            id: 2,
            name: "山田",
          },
          {
            id: 3,
            name: "鈴木",
          },
          {
            id: 4,
            name: "田中",
          },
        ],
      text: "",
      },
      computed: {
        filteredusers() {
          let filteredusers = [];

          for (let i in this.users) {
            const checkUser = this.users[i];
            if(checkUser.name.indexOf(this.text) != -1) {
              filteredusers.push(checkUser);
            }
          }
          return filteredusers;
        }
      }
    })
  </script>
  <style>
    .text {
      border: 2px solid green;
      border-radius: 2px;
      margin-bottom: 10px;
    }
    p {
      margin: 0;
    }
  </style>
</body>
</html>